@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header, .footer {
    display: flex;
    flex-direction:column;
    background-color: #1F2937;
    padding: 20px;
}

.navbar {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 100px;
    margin-right: auto;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0 100px 0 0;
}

a, .herosubtext {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 100px 0px;
    justify-content: center;
}

.maintext {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.heroheader {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

button {
    padding: 8px 32px;
    background-color: #3882F6;
    border-radius: 12px;
    color: #F9FAF8;
    font-weight: 900;
}

.image img{
    height: auto;
    width: 500px;
    border-radius: 8px;
}
.pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    margin-bottom:100px;
}

.infoheader {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 20px;
}

.small {
    display: flex;
    gap: 48px;
    justify-content: center;
}

.imagesmall {
    display: flex;
    flex-direction: column;
    width: 204px;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imagesmall img {
    width: 200px;
    height: 200px;
    border: 2px solid #3882F6;
    border-radius: 8px;
}

.quotes {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 150px;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    max-width:800px;
}

.line {
    font-size: 36px;
    font-style: italic;
    color: #1F2937
}

.originator {
    font-size: 18px;
    font-weight: 900;
    color: black;
    align-self: flex-end;
}

.calltoaction {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 1300px;
    height: 200px;
    align-items: center;
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 900;
}

.container button {
    border-color: #F9FAF8;
}

.footer {
    align-items: center;
    justify-content: center;
}